In [4]:
import pandas as pd
import pyreadstat

df, meta = pyreadstat.read_sav('PractiseDataFAKE.sav')

In [5]:
column_names = [value for value in df.columns.values[1::] if value[3] == 'A']

clean_df = df[column_names].fillna(0)
correct_values_df = clean_df.round(0).astype(int).replace(8, 0).replace(3, 2)
correct_values_df['total_sum'] = correct_values_df.sum(axis=1)

df['total_sum'] = correct_values_df['total_sum']
df

,PID,ados_gender,group,ados_dob,ados_dat,ados_type,ados_mod,ados_comm,M1_A2,M1_A3,...,M3_C1,M3_D1,M3_D2,M3_D3,M3_D4,M3_D5,M3_E1,M3_E2,M3_E3,total_sum
0,1.000000,1.947181,1.039488,2008-08-02,2017-05-08,2.0,1.809901,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
1,2.000000,1.538587,1.003585,2008-08-02,2016-12-07,2.0,2.797348,,NaN,NaN,...,0.021389,2.024267,2.487015,1.442278,1.262182,0.718174,2.789496,1.055365,0.534401,9
2,3.000000,1.872403,1.219028,2008-09-11,2013-11-15,2.0,1.083786,,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
3,4.258068,1.707346,1.192394,2008-09-11,2015-11-27,2.0,2.467743,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
4,5.000000,1.384651,1.951205,2010-07-01,2015-04-10,2.0,1.324216,,2.852307,1.230768,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,64.634451,1.042583,1.748528,2013-02-03,2015-04-16,2.0,2.709418,,NaN,NaN,...,0.339169,0.102050,0.470492,1.175070,1.874383,2.822316,0.710896,1.220053,1.994818,4
65,66.000000,1.893680,1.191731,2010-06-29,2018-11-05,2.0,2.979586,,NaN,NaN,...,0.424782,2.974989,1.214649,2.533707,1.933116,2.471505,0.888949,2.130631,1.103317,12
66,67.000000,1.655186,1.045616,2007-09-30,2017-04-24,2.0,2.615794,,NaN,NaN,...,2.273597,1.816691,0.581448,0.244433,0.700686,2.462556,2.390906,1.911685,1.978576,13
67,67.817865,1.006037,1.383211,2010-11-23,2015-08-25,2.0,1.160859,,2.680564,8.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
68,69.000000,1.066359,1.304072,2010-01-11,2015-02-04,2.0,1.312113,,2.255046,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9